#changingMain11 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, auto);
  height: fit-content;
  width: 100vw;
  background-color: rgb(236, 235, 240);
}

.out111 {
  display: grid;
  position: relative;
  background-color: rgb(236, 235, 240);
  min-height: 30rem;
  min-width: 100%;
  height: 50rem;
  width: 100%;
  max-height: fit-content;
  max-width: 100%;
}

#imageS111 {
  display: flex;
  position: relative;
  height: 20rem;
  width: 30rem;
  margin: 4rem;
  transition: 0.5s;
  border-radius: 5px;
}

.out211 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  top: 0rem;
  width: 50rem;
  height: 30em;
  justify-self: flex-end;
}

.headd111 {
  display: flex;
  position: relative;
  font-size: 50px;
  font-family: "cabin ", Arial, Helvetica, sans-serif;
  margin: 3rem;
  color: orange;
}

.message111 {
  display: flex;
  position: relative;
  font-size: 18px;
  font-family: "cabin ", Arial, Helvetica, sans-serif;
  margin: 3rem;
  color: rgb(42, 42, 49);
}
footer {
  display: flex;
  position: relative;
  flex-direction: row;

  height: 20rem;
  width: 100vw;
}

#mss {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20rem;
  width: 40rem;
  background-color: rgb(0, 0, 0);
}

a {
  color: white;
}
a:visited {
  color: orange;
}

#sss {
  color: orange;
  font-family: "cabin", Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#smss {
  color: orange;
  font-family: "cabin", Arial, Helvetica, sans-serif;
  font-size: 27px;
  margin: 1rem;
}
#Ph {
  color: orange;
  font-family: "cabin", Arial, Helvetica, sans-serif;
  font-size: 27px;
  margin: 1rem;
}

.fother {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
}
#flt {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
